*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}
.about-section{
    background: url(enginer.jpg) no-repeat left;
    background-size: 55%;
    background-color: #ffff;
    overflow: hidden;
    padding: 100px 0;
    

}
.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;

}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-top: 40px;
}
form{
    font-size: 50px;
    font-weight: 100%;
   
}
h3{
    text-align: center;
    text-align: start;
}
.one{
  background-color: #CBBF7A;
 
}
.messenger{
    padding: 10%;
}